<div class="contact-content">
    <h1>Contact Us</h1>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Message</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary">Send</button>
  </div>
  
